
    <!-- Masthead -->
    <header class="masthead text-white text-center" [ngStyle]="{'background-image': 'url(' + headimg + ')'}">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Career guidance consists of services that help people successfully manage their career development!</h1>
          </div>
          <div class="col-md-10 col-xl-15 mx-auto">
            <div class="row">
              <div class="col-lg-6 text-white">
                <button type="submit" class="btn btn-link item-center text-white">Take Quiz!</button>
              </div>
              <div class="col-lg-6 text-white">
                <button type="submit" class="btn btn-link item-center text-white">calculate claster points</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Image Showcases -->
    <section class="showcase" style="padding-top: 2px">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" [ngStyle]="{'background-image': 'url(' + photoa + ')'}" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Career guidance</h2>
            <p class="lead mb-0">Career guidance consists of services that help people successfully manage their career development. !</p>
            <button type="submit" class="btn btn-primary">Click Me!</button>
          </div>
        </div>
        <div class="row no-gutters" style="padding-top: 2px">
          <div class="col-lg-6 text-white showcase-img" [ngStyle]="{'background-image': 'url(' + photob + ')'}" ></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Career guidance</h2>
            <p class="lead mb-0">Career development, an aspect of human development, is the process through which an individual's work identity emerges. Although it will occur on its own as you mature, you may benefit from getting assistance as you navigate through this process, which can be quite confusing at times.!</p>
            <div style="text-align: center">
             <button type="submit" class="btn btn-center btn-primary item-center">Click Me!</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- parteners -->
    <section class="parteners text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Our Partners</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="parteners-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid  mb-2" src="assets/img/pat.jpeg" alt="">
              <h5>parteners.com</h5>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="parteners-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid  mb-2" src="assets/img/pat.jpeg" alt="">
              <h5>parteners.com</h5>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="parteners-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid mb-2" src="assets/img/pat.jpeg" alt="">
              <h5>parteners.com</h5>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Footer -->
    <footer class="footer ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; tuk-hub 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>